	body{
			background: black;
		}
	.xdcudro2
		{   
			position: absolute;
			top: 10%;
			left: 10%;
			width: 80%;
			height: 80%;
			background: green;
			border-radius: 50px;
			
		}
		.img{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 150px;
			height: 150px;			
			border-radius: 50px;
			text-align: center;
			font-size: 30px;
		}